* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.header .title {
    font-family: 'Charmonman', cursive;
    font-size: 54px;
    font-weight: 400;
    padding: 0 20px;
}

.header .line {
    background: rgb(0, 0, 0);
    height: 3px;
}

/* Navbar Section */

#nav-bar {
    top: 0;
    z-index: 10;
}

.navbar {
    padding: 0;
    backdrop-filter: blur(5px);
}

.navbar-brand img {
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    font-weight: 600;
    float: right;
    text-align: left;
}

/* Banner Section */

#banner {
    background-image: url(img/banner-2.jpg);
    background-size: cover;
}

#banner p {
    font-family: "Raleway", sans-serif;
}

#banner .title {
    font-family: "Charmonman", cursive;
    font-size: 90px;
    font-weight: 700;
}

#banner a {
    color: #fff;
    text-decoration: none;
}

/* Gallery Section */



/* Culinery Section */

#culinery h3,
a,
p {
    font-family: "Raleway", sans-serif;
}

/* Culinery Section */

.card .card-text {
    font-size: 16px;
}

.overlay {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

/* Location Section */

#location .location-image {
    background-image: url(img/banner-3.jpg);
    background-size: cover;
    min-height: 100px;
}

/* About Section */

#about img {
    width: 300px;
    height: 300px;
    border-radius: 500px;
    padding: 0;
}