*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* Navbar Section */

#nav-bar{
    top: 0;
    z-index: 10;
}

.navbar{
    padding: 0;
    backdrop-filter: blur(5px);
}

.navbar-brand img{
    padding-left: 20px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    font-weight: 600;
    float: right;
    text-align: left;
}

/*
.nav-link {
    scroll-behavior: smooth;
}*/

/* Banner Section */

#banner{
    background-image: url(img/banner-2.jpg);
    background-size: cover;
}

#banner p{
    font-family: 'Raleway', sans-serif;
}

#banner .title{
    font-family: 'Charmonman', cursive;
    font-size: 90px;
    font-weight: 700;
}

#banner a{
    color: #fff;
    text-decoration: none;
}

/* Gallery Section */

#gallery .title{
    font-family: 'Charmonman', cursive;
    font-size: 54px;
    font-weight: 400;
}

.header .title{
    font-size: 54px;
    font-weight: 600;
}

.header .line{
    background: rgb(0, 0, 0);
    height: 3px;
    margin-left: 50px;
}

/* Culinery Section */

#culinery .title{
    font-family: 'Charmonman', cursive;
    font-size: 54px;
    font-weight: 400;
}

/*location*/
#location .title {
    font-family: 'Charmonman', cursive;
    font-size: 54px;
    font-weight: 400;
}

#location .location-image{
    background-image: url(img/banner-3.jpg);
    background-size: cover;
    background-position: bottom;   
}